@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b;
  color: white;
}

html.light body {
  background-color: white;
  color: black;
}

html.dark {
  filter: invert(1) hue-rotate(180deg);
}

html.dark img,
html.dark video,
html.dark iframe,
html.dark .no-invert {
  filter: invert(1) hue-rotate(180deg);
}